:root {
  --base-color: #eeeeee;
  --accent-color: grey;
}

a .navbar-brand {
  color: #ffffff;
}

/* SCROLLBAR */

body {
  overflow-y: scroll; /* Show scrollbars */
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  color: grey;
}

.navbar-custom .navbar-brand {
  color: grey;
  color: -webkit-linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
}

div.container {
  color: grey;
}

/* Custom Scrollbar with Webkit */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3 {
  background: -webkit-linear-gradient(#ffffff, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Verdana;
  text-transform: initial;
}

h1,
h2,
h3:hover {
  background: -webkit-linear-gradient(#000000, rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Verdana;
}

.fab {
  font-size: 25px;
  color: grey;
}
.fab:hover {
  background: -webkit-linear-gradient(#ffffff, rgb(119, 119, 119));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  color: #bbbbbb;
}


.disabled {
  color: lightgray;
}


/* CERTIFICATES */

.dq-list-course {
  color:#31CB8A;
  list-style: none;

}
.dq-list-course:hover {
  color:#0ED8B3
}

/* PROJECT SEARCH */



/* SKILLS SECTION */
.progress-bar {
 background: linear-gradient(90deg, rgba(51,51,51) 0%, rgba(187,187,187) 20%, rgba(204,204,204) 40%, rgba(221,221,221) 60%, rgba(238,238,238), rgba(255,255,255,100) 100%);
}
.progress-bar-python {
  background-color:rgb(214, 214, 214);
}
.progress-bar-python:hover {
   background: linear-gradient(90deg, rgba(75,139,190,1) 20%, rgba(48,105,152,1) 40%, rgba(255, 212, 59) 60%, rgba(255, 232, 115) 100% );
}

.progress-bar-html:hover {
  background-color: linear-gradient(90deg, rgba(255,0,112,100), rgba(255,255,255,100))
}

.btn {
  color: var(--accent-color);
}
.btn:hover {
  color:#0ED8B3;
}