:root {
  --base-color: #eeeeee;
}

body {
  font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

h1,
h2,
h3 {
  background: -webkit-linear-gradient(#ffffff, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fab {
  font-size: 25px;
}
.fab:hover {
  color: #c68e17;
}

a {
  text-decoration: none;
  color: #bbbbbb;
}

a:hover {
  color: #c68e17;
}
